*
{
    margin: 0;
    padding: 0;
    box-sizing: 'arial',sans-serif;
    font-family: arial,sans-serif;
    

}
section
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
section header{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;

}
section header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
section header ul li
{
    list-style: none;
    margin-left: 20px;    
}
section header ul li a
{
    color: #111;
    text-decoration: none;
    font-size: 13px;
}
section header ul li .sig
{
    background: #4584ef;
    border: none;
    outline: none;
    padding: 8px 14px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border-radius: 3px;
    cursor: pointer;
}
section .main
{
    width: 580px;
    display: flex;
    flex-direction:  column;
    align-items: center;
    justify-content: center;
}
section .main .searchBox
{
    position: relative;
    width: 100%;
    margin-top: 20px;
}
section .main .searchBox .search
{
    width: 100%;
    padding: 13px;
    padding-left: 45px;
    padding-right: 30px;
    border-radius: 30px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
}
section .main .searchBox  .icons
{
    position: absolute;
    top: 0;
    width: 104.5%;
    display: flex;
    padding: 12px 20px;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}
section .main .languages
{
    display: flex;
    margin-top: 30px;
}
section .main .languages li
{
    list-style: none;
    margin: 0 5px;
    font-size: 13px
}
section .main .languages li a
{
    text-decoration: none;
    color: #1a0dab;
}
section .main .languages li a:hover
{
    text-decoration: underline;
}
section .footer
{
    position: absolute;
    bottom: 0;
    left: o;
    width: 100%;
    background: #f2f2f2;
}
section .footer .row
{
    padding: 15px 25px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}
section .footer .row.row2
{
    display: flex;
    justify-content: space-between;
}
section .footer .row.row2 ul
{
    display: flex;
}
section .footer .row.row2 ul li
{
    list-style: none;
}
section .footer .row.row2 ul li a
{
    text-decoration: none;
    font-size: 14px;
    color: #5f6368;
    margin-right: 25px;
}
section .footer .row.row2 ul:nth-child(2) li a
{
    text-decoration: none;
    font-size: 14px;
    color: #5f6368;
    margin-right: 0px;
    margin-left: 25px;
}
.but1{
    align-items: center;
    padding: 10px;
    margin: 25px 2px 10px 0px;
    margin-left: 15px; ;
    font-family: arial,sans-serif;
    border-radius: 10px;
    border: 0px solid red;
    background-color: #96a8bdb1;
    font-size: 15px;
    color: #181010e2;
}

.but1:hover{
    background-color: #313438e7;
    color: rgba(255, 255, 255, 0.758);
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
}

.new{
    position: absolute;
    margin-top: -785px;
    margin-left: 10px;
    background-color: #0dab1fc4;
    width: 100px;
    height: 20px;
    border-radius: 10px;
    border: 2px solid rgba(6, 150, 6, 0.653);
}
.new a{
    margin-left: 7px;
    text-decoration: none;
    color: #f2f2f2;
}
.new:hover{
    cursor: pointer;
    background-color: rgba(5, 126, 5, 0.747);
}
